.basicMenu {
  display: inline-flex;
  position: relative;
  width: 210px;
  height: 50px;

  :global(.MuiAvatar-root) {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    inset: 0 auto 0 5px;
    z-index: 1;
    padding: 10px;
    margin: auto 0;
    pointer-events: none;
    background: var(--color-white);
    color: var(--color-primary);
  }

  :global(.MuiButtonBase-root) {
    padding: 10px;
    gap: 8px;
    background: var(--color-primary);
    color: var(--color-white);
    width: 100%;
    border-radius: 50px;

    :global(.MuiButton-icon) {
      margin-left: auto;
      transition: transform 0.2s ease;

      svg {
        font-size: 16px;
      }
    }
  }

  &:has(:global(.MuiAvatar-root)) :global(.MuiButtonBase-root) {
    padding-left: 60px;
  }

  :global(.MuiButtonBase-root[aria-expanded="true"]) :global(.MuiButton-icon) {
    transform: rotate(180deg);
  }
}

:global(.MuiPaper-root) {
  width: 210px;
}
