.basicMenu {
  position: relative;
  height: 50px;

  :global(.MuiAvatar-root) {
    width: 35px;
    height: 35px;
    position: absolute;
    inset: 0 auto 0 10px;
    z-index: 1;
    margin: auto 0;
    pointer-events: none;
  }

  :global(.MuiButtonBase-root) {
    padding: 10px 10px 10px 60px;
    gap: 8px;
    background: var(--color-primary);
    color: var(--color-white);

    :global(.MuiButton-icon) {
      margin: 0;
      transition: transform 0.2s ease;

      svg {
        font-size: 16px;
      }
    }
  }

  :global(.MuiButtonBase-root[aria-expanded="true"]) :global(.MuiButton-icon) {
    transform: rotate(180deg);
  }
}
