.inputField .customLabel {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.inputField .baseInput {
  width: 100%;
}

.inputField .baseInput :global(input.MuiInputBase-input) {
  box-sizing: border-box;
  height: 48px; /* define field height */
}

.inputField .baseInput :global(.Mui-focused .MuiOutlinedInput-notchedOutline) {
  border-width: 1px;
}

/* variant outline styling */
.inputField .outlined :global(.MuiOutlinedInput-notchedOutline) {
  border-color: black;
  border-radius: 5px;
}

.inputField .filled :global(input) {
  background: #f2f2f2;
}

.inputField .standard :global(.MuiOutlinedInput-notchedOutline) {
  /* background: #f2f2f2; */
  border-width: 0 0 1px 0;
  border-color: black;
  border-radius: 0;
}

/* for start icon */
.inputField :global(.MuiInputBase-adornedStart) {
  padding-left: 0;
}
.inputField :global(.MuiInputAdornment-positionStart) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  max-height: 100%;
  font-size: 20px;
  pointer-events: none;
}
.inputField:has(:global(.MuiInputAdornment-positionStart))
  :global(.MuiInputBase-input) {
  padding-left: 45px;
}
