@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* ~-~-~-~-~ colors ~-~-~-~-~ */
  --color-accent: #00c0d4;
  --color-primary: #140a82;
  --color-red: #b82929;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #aaa;
  --color-skyblue: #e1f4f6;
  /* ~-~-~-~-~ colors ~-~-~-~-~ */

  /* ~-~-~-~-~ declare font family & weight ~-~-~-~-~ */
  --ff-roboto: "Roboto", sans-serif;
  /* ~-~-~-~-~ declare font family & weight ~-~-~-~-~ */

  /* ~-~-~-~-~ declare font size ~-~-~-~-~ */
  --f-size-XXXL: 36px;
  --f-size-XXl: 30px;
  --f-size-XL: 25px;
  --f-size-L: 20px;
  --f-size-M: 18px;
  --f-size-S: 16px;
  --f-size-XS: 14px;
  /* ~-~-~-~-~ declare font size ~-~-~-~-~ */

  /* ~-~-~-~-~ common transition ~-~-~-~-~ */
  --transition-common: all 0.5s ease 0s;
  /* ~-~-~-~-~ common transition ~-~-~-~-~ */

  /* ~-~-~-~-~ border radious adjustments ~-~-~-~-~ */
  --radius-5: 5px;
  --radius-10: 10px;
  --radius-20: 20px;
  --radius-25: 25px;
  --radius-30: 30px;
  --radius-35: 35px;
  --radius-40: 40px;
  --radius-45: 45px;
  --radius-50: 50px;
  /* ~-~-~-~-~ border radious adjustments ~-~-~-~-~ */

  /* ~-~-~-~-~ other adjustments ~-~-~-~-~ */
  --gap-24: 24px;
  --gap-30: 30px;
  --gap-40: 40px;
  --gap-50: 50px;
  --gap-60: 60px;
  /* ~-~-~-~-~ other adjustments ~-~-~-~-~ */

  --margin-title: 0 0 15px 0;
  --margin-paragraph: 0 0 15px 0;
}

/* ~-~-~-~-~ global styling ~-~-~-~-~ */
body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-roboto);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
/* ~-~-~-~-~ global styling ~-~-~-~-~ */
