.textarea {
  label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-family: var(--ff-roboto);
    font-size: 16px;
    border: 1px solid #b6b6b6;
    resize: none;
    outline: none;

    &:focus,
    &:focus-visible {
      border-color: #8b8b8b;
    }
  }
}
