.upload-wrapper {
  max-width: 100%;
}

.upload-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.upload-desc {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 14px;
}

.upload-dropzone {
  border: 2px dashed #d1d5db;
  border-radius: 8px;
  padding: 35px 15px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  color: #374151;
}
.upload-dropzone p {
  margin: 0;
}

.upload-icon {
  font-size: 30px;
  line-height: 1;
  color: #9ca3af;
  margin-bottom: 0;
}

.upload-icon .icon-holder {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background: #e5e7eb;
  border-radius: 50%;
}

.upload-btn {
  padding: 13px 25px;
  background: var(--color-primary);
  font-size: var(--f-size-S);
  font-weight: 400;
  color: var(--color-white);
  border-radius: 60px;
  border: none;
  width: fit-content;
  margin: 0 auto;
}

.upload-list {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upload-item {
  background: var(--color-softCyan);
  padding: 14px;
  border-radius: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--f-size-S);
  color: #374151;
}

.upload-item p {
  margin: 0 0 8px;
}

.upload-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.upload-left img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.upload-preview {
  border-radius: 8px;
}

.upload-pdf {
  width: 48px;
  height: 48px;
  background: #ef4444;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-name {
  font-weight: 600;
}

.upload-delete {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #cf3a3c;
  font-size: 20px;
  color: var(--color-white);
  border: none;
  cursor: pointer;
}
